# Игнорировать логи
*.log

# Игнорировать настройки VS Code
.vscode/

# Игнорировать секретные файлы с паролями
.env

## [ Обработка артефактов компиляции ]
# Игнорируем папки bin и obj во всех подпроектах
[Bb]in/
[Oo]bj/

## [ Базы данных ]
# Игнорируем файл SQLite, так как он наполняется при работе программы
*.db
*.db-shm
*.db-wal

## [ Настройки Visual Studio / VS Code ]
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

## [ Конфиденциальные данные ]
# Игнорируем файл конфига, если там могут быть пароли (лучше хранить шаблон)
config.json

## [ Логи и временные файлы ]
*.log
.DS_Store